<a href="https://colab.research.google.com/github/CommonCrayon/Movie-Recommendation/blob/main/Evalutation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

In [32]:
userbase1_dataframe = pd.read_csv("Dataset/ml-100k/u1.base", names=['user_id', 'item_id', 'rating', 'timestamp'], delimiter="\t")
userbase1_dataframe = userbase1_dataframe.drop(["timestamp"], axis=1)
userbase1_dataframe

       user_id  item_id  rating
0            1        1       5
1            1        2       3
2            1        3       4
3            1        4       3
4            1        5       3
...        ...      ...     ...
79995      943     1067       2
79996      943     1074       4
79997      943     1188       3
79998      943     1228       3
79999      943     1330       3

[80000 rows x 3 columns]

In [33]:
user_list = userbase1_dataframe['user_id'].unique().tolist()
user_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943]

In [34]:
usertest1_dataframe = pd.read_csv("Dataset/ml-100k/u1.test", names=['user_id', 'item_id', 'rating', 'timestamp'], delimiter="\t")
usertest1_dataframe = usertest1_dataframe.drop(["timestamp"], axis=1)
usertest1_dataframe

       user_id  item_id  rating
0            1        6       5
1            1       10       3
2            1       12       5
3            1       14       5
4            1       17       3
...        ...      ...     ...
19995      458      648       4
19996      458     1101       4
19997      459      934       3
19998      460       10       3
19999      462      682       5

[20000 rows x 3 columns]

In [35]:
# Convert DataFrame to sparse matrix
user_item_matrix = userbase1_dataframe.pivot(index='user_id', columns='item_id', values='rating').fillna(0)
user_item_matrix_sparse = csr_matrix(user_item_matrix.values)

# Calculate cosine similarity matrix
cosine_sim_matrix = cosine_similarity(user_item_matrix_sparse)
cosine_sim_matrix

array([[1.        , 0.09702087, 0.05246924, ..., 0.15815144, 0.13309031,
        0.25277792],
       [0.09702087, 1.        , 0.05134808, ..., 0.13280638, 0.1265973 ,
        0.10178363],
       [0.05246924, 0.05134808, 1.        , ..., 0.08353707, 0.08122974,
        0.01967584],
       ...,
       [0.15815144, 0.13280638, 0.08353707, ..., 1.        , 0.1016418 ,
        0.09511958],
       [0.13309031, 0.1265973 , 0.08122974, ..., 0.1016418 , 1.        ,
        0.18246466],
       [0.25277792, 0.10178363, 0.01967584, ..., 0.09511958, 0.18246466,
        1.        ]])

In [36]:
utility_matrix = userbase1_dataframe.pivot(index='user_id', columns='item_id', values='rating').fillna(0)
utility_matrix

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
# Convert cosine similarity matrix to DataFrame for better visualization
# Where both the rows and columns are labeled with user ids, and the values represent the cosine similarity between corresponding users based on their ratings.
cosine_sim_df = pd.DataFrame(cosine_sim_matrix, index=user_item_matrix.index, columns=user_item_matrix.index)
cosine_sim_df

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.097021,0.052469,0.021162,0.193545,0.290114,0.200438,0.097786,0.060791,0.200926,...,0.252187,0.090728,0.216186,0.139478,0.156937,0.095265,0.222958,0.158151,0.133090,0.252778
2,0.097021,1.000000,0.051348,0.084426,0.015516,0.187717,0.074479,0.023262,0.108167,0.078176,...,0.083045,0.298811,0.308608,0.403810,0.282896,0.213233,0.189257,0.132806,0.126597,0.101784
3,0.052469,0.051348,1.000000,0.145660,0.037180,0.084526,0.015718,0.086400,0.000000,0.030909,...,0.041330,0.036956,0.135750,0.063940,0.102082,0.034064,0.133720,0.083537,0.081230,0.019676
4,0.021162,0.084426,0.145660,1.000000,0.017291,0.000000,0.037566,0.046087,0.000000,0.023232,...,0.014238,0.047742,0.127305,0.118947,0.089016,0.039116,0.120521,0.135669,0.125925,0.035586
5,0.193545,0.015516,0.037180,0.017291,1.000000,0.158552,0.170890,0.157488,0.053846,0.089508,...,0.284295,0.074215,0.086345,0.063759,0.126358,0.068145,0.198118,0.142141,0.150000,0.239803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.095265,0.213233,0.034064,0.039116,0.068145,0.099518,0.075901,0.039294,0.000000,0.031693,...,0.066039,0.431154,0.258021,0.226449,0.432666,1.000000,0.087687,0.180029,0.043264,0.144250
940,0.222958,0.189257,0.133720,0.120521,0.198118,0.289962,0.263561,0.094273,0.093677,0.246078,...,0.327153,0.107024,0.187536,0.181317,0.175158,0.087687,1.000000,0.145152,0.261376,0.241028
941,0.158151,0.132806,0.083537,0.135669,0.142141,0.093607,0.017469,0.106551,0.110612,0.014989,...,0.046952,0.203301,0.288318,0.234211,0.313400,0.180029,0.145152,1.000000,0.101642,0.095120
942,0.133090,0.126597,0.081230,0.125925,0.150000,0.178815,0.169986,0.067465,0.064484,0.156821,...,0.226440,0.073513,0.089588,0.129554,0.099385,0.043264,0.261376,0.101642,1.000000,0.182465
943,0.252778,0.101784,0.019676,0.035586,0.239803,0.210308,0.292691,0.214486,0.104008,0.130262,...,0.263791,0.210763,0.143253,0.077793,0.202244,0.144250,0.241028,0.095120,0.182465,1.000000

In [38]:
def rating_prediction_weighted(user_ids, cosine_sim_df, utility_matrix, top_n=2):
    all_predicted_ratings = []

    #for user_id in user_ids:
    for user_id in user_ids[:100]:
        print(user_id)

        # Get cosine similarity scores for the given user
        user_similarity_scores = cosine_sim_df[user_id]

        # Sort users by similarity scores and get top N similar users (excluding the user itself)
        similar_users = user_similarity_scores.sort_values(ascending=False)[1:top_n+1]

        # Initialize a dictionary to store aggregated ratings from similar users
        predicted_ratings = {}

        # Aggregate ratings from similar users for items not yet rated by the given user
        for similar_user_id, similarity_score in similar_users.items():
            # Get items rated by the similar user that the given user has not yet rated
            unrated_items = utility_matrix.loc[user_id][utility_matrix.loc[user_id] == 0].index

            # Get ratings of unrated items by the similar user
            similar_user_ratings = utility_matrix.loc[similar_user_id, unrated_items]

            # Aggregate ratings from similar user
            for item_id,rating in similar_user_ratings.items():
              weighted_sum = 0
              sum_of_weights = 0
              if rating != 0:  # Exclude users who haven't rated the item
                    weighted_sum += rating * similarity_score
                    sum_of_weights += similarity_score



              if sum_of_weights != 0:
                predicted_rating = weighted_sum / sum_of_weights
                predicted_ratings[item_id] = predicted_rating

            # Append predicted ratings for the current user to the list
            all_predicted_ratings.extend([{'user_id': user_id, 'item_id': item_id, 'rating': rating} for item_id, rating in predicted_ratings.items()])
    return predicted_ratings

In [39]:
users_id = user_list
predict_items_df = rating_prediction_weighted(users_id, cosine_sim_df, utility_matrix, 50)
predict_items_df

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

{289: 1.0,
 307: 4.0,
 312: 2.0,
 313: 4.0,
 316: 5.0,
 322: 3.0,
 323: 3.0,
 327: 3.0,
 688: 3.0,
 748: 2.0,
 749: 4.0,
 750: 3.0,
 260: 4.0,
 268: 5.0,
 292: 4.0,
 299: 4.0,
 302: 4.0,
 303: 2.9999999999999996,
 304: 4.0,
 321: 5.0,
 331: 5.0,
 332: 4.0,
 333: 4.0,
 334: 3.0,
 340: 4.0,
 344: 5.0,
 754: 3.0,
 877: 2.0,
 1038: 4.0,
 245: 5.0,
 301: 2.0,
 339: 1.0,
 888: 5.0,
 891: 3.0,
 937: 1.0,
 1106: 4.0,
 262: 4.0,
 288: 3.0,
 305: 4.0,
 354: 2.9999999999999996,
 906: 2.0,
 259: 5.0,
 319: 4.0,
 352: 1.0,
 682: 4.0,
 683: 4.0,
 893: 3.0,
 1022: 2.0,
 1176: 2.0,
 1313: 4.0,
 242: 4.0,
 264: 3.0,
 306: 5.0,
 324: 4.0,
 329: 3.0,
 330: 1.0,
 336: 5.0,
 342: 1.0,
 343: 1.0,
 348: 3.0,
 350: 4.0,
 355: 1.0,
 359: 3.0,
 361: 3.0000000000000004,
 362: 4.0,
 538: 3.0,
 691: 3.0000000000000004,
 752: 5.0,
 872: 2.0,
 873: 3.0,
 876: 2.0,
 882: 4.0,
 901: 2.0,
 902: 2.0,
 903: 3.0,
 909: 3.0,
 910: 1.0,
 990: 4.0,
 1024: 3.0,
 1062: 5.0,
 1127: 2.0,
 1243: 2.9999999999999996,
 1294: 5.0,
 1296: 4.0,
 1395: 4.0,
 1431: 3.0,
 1434: 3.0,
 1607: 2.0,
 1678: 1.0,
 1679: 3.0,
 1680: 2.0,
 1025: 4.0,
 266: 2.0,
 308: 3.0,
 311: 4.0,
 338: 4.0,
 351: 3.0000000000000004,
 358: 1.0,
 680: 4.0,
 938: 4.0,
 948: 2.0,
 988: 3.0,
 989: 3.0000000000000004,
 995: 4.0,
 1105: 3.0000000000000004,
 1432: 1.0,
 1591: 1.0,
 1617: 1.0,
 243: 3.0,
 689: 2.0,
 261: 3.0,
 263: 3.0,
 325: 2.0,
 353: 2.9999999999999996,
 360: 5.0,
 457: 3.0,
 539: 3.0000000000000004,
 681: 5.0,
 687: 2.0,
 875: 1.0,
 878: 3.0000000000000004,
 883: 4.0,
 890: 4.0,
 897: 2.0,
 984: 4.0,
 991: 1.0,
 1238: 3.0,
 1265: 3.0,
 1280: 4.0,
 1293: 5.0,
 1612: 5.0,
 1613: 4.0,
 905: 4.0,
 1399: 2.0,
 1430: 3.0,
 25: 4.0,
 100: 5.0,
 240: 1.0,
 274: 3.0,
 283: 4.0,
 871: 1.0,
 1028: 1.0,
 1051: 3.0,
 12: 4.0,
 79: 5.0,
 345: 4.0,
 528: 5.0,
 896: 2.9999999999999996,
 899: 3.0,
 904: 4.0,
 1433: 3.0,
 1671: 1.0,
 894: 1.0,
 912: 3.0,
 213: 4.0,
 237: 3.0,
 914: 2.0,
 916: 3.0,
 918: 3.0,
 1483: 3.0,
 1624: 2.0,
 1625: 4.0,
 50: 3.0000000000000004,
 117: 3.0,
 118: 5.0,
 121: 5.0,
 147: 5.0,
 181: 3.0000000000000004,
 222: 5.0,
 250: 4.0,
 252: 3.0000000000000004,
 257: 3.0000000000000004,
 298: 4.0,
 405: 5.0,
 597: 5.0,
 826: 5.0,
 827: 5.0,
 841: 5.0,
 1016: 3.0000000000000004,
 1034: 5.0,
 1089: 2.0,
 11: 5.0,
 433: 5.0,
 1656: 2.0,
 589: 4.0,
 621: 1.0,
 1279: 3.0000000000000004,
 1463: 4.0,
 1527: 2.0,
 22: 5.0,
 127: 4.0,
 244: 4.0,
 246: 3.0000000000000004,
 247: 1.0,
 248: 4.0,
 249: 2.0,
 251: 3.0000000000000004,
 253: 2.0,
 254: 2.0,
 255: 4.0,
 256: 2.0,
 293: 2.0,
 295: 2.0,
 296: 3.0000000000000004,
 297: 3.0000000000000004,
 335: 2.0,
 515: 3.0000000000000004,
 532: 2.0,
 533: 2.0,
 534: 3.0000000000000004,
 535: 3.0000000000000004,
 536: 2.0,
 935: 2.0,
 936: 3.0000000000000004,
 987: 3.0000000000000004,
 992: 2.0,
 993: 3.0000000000000004,
 994: 2.0,
 1007: 3.0000000000000004,
 1012: 2.0,
 1013: 3.0000000000000004,
 1014: 2.0,
 1023: 3.0000000000000004,
 1082: 3.0000000000000004,
 1088: 2.0,
 1096: 2.0,
 1138: 2.0,
 1142: 3.0000000000000004,
 1143: 2.0,
 1144: 3.0000000000000004,
 1160: 2.0,
 1173: 2.0,
 1190: 2.0,
 1191: 3.0000000000000004,
 1216: 2.0,
 1226: 2.0,
 1241: 2.0,
 1244: 3.0000000000000004,
 1251: 3.0000000000000004,
 1252: 3.0000000000000004,
 1254: 3.0000000000000004,
 1255: 2.0,
 1256: 2.0,
 1257: 1.0,
 1258: 2.0,
 1278: 4.0,
 1283: 2.0,
 1292: 3.0000000000000004,
 1300: 2.0,
 1302: 3.0000000000000004,
 1315: 3.0000000000000004,
 1378: 2.0,
 1379: 3.0000000000000004,
 1380: 2.0,
 1382: 3.0000000000000004,
 1383: 3.0000000000000004,
 1384: 3.0000000000000004,
 1385: 4.0,
 1386: 3.0000000000000004,
 1387: 3.0000000000000004,
 1388: 3.0000000000000004,
 1389: 3.0000000000000004,
 1390: 3.0000000000000004,
 1391: 4.0,
 1393: 2.0,
 1394: 4.0,
 1405: 2.0,
 1417: 2.0,
 1477: 3.0000000000000004,
 1511: 2.0,
 1513: 2.0,
 1514: 2.0,
 1528: 2.0,
 1534: 2.0,
 1537: 3.0000000000000004,
 1538: 3.0000000000000004,
 1588: 3.0000000000000004,
 1589: 3.0000000000000004,
 1590: 3.0000000000000004,
 1598: 2.0,
 1600: 3.0000000000000004,
 1605: 2.0,
 1608: 3.0000000000000004,
 1609: 1.0,
 1610: 1.0,
 1611: 3.0000000000000004,
 1615: 3.0000000000000004,
 1620: 3.0000000000000004,
 1643: 2.0,
 1644: 2.0,
 1652: 1.0,
 1658: 2.0,
 1662: 4.0,
 1663: 2.0,
 1664: 4.0,
 1665: 2.0,
 1666: 2.0,
 1667: 3.0000000000000004,
 1668: 3.0000000000000004,
 1669: 2.0,
 1670: 3.0000000000000004,
 309: 5.0,
 337: 5.0,
 1: 5.0,
 508: 3.0000000000000004,
 9: 3.0,
 56: 5.0,
 62: 4.0,
 132: 5.0,
 133: 5.0,
 187: 5.0,
 317: 4.0,
 472: 3.0,
 511: 5.0,
 513: 5.0,
 588: 4.0,
 607: 5.0,
 609: 3.0,
 626: 3.0,
 911: 3.0,
 915: 2.0,
 66: 4.0,
 739: 4.0}

In [40]:
test_df = usertest1_dataframe
test_df

       user_id  item_id  rating
0            1        6       5
1            1       10       3
2            1       12       5
3            1       14       5
4            1       17       3
...        ...      ...     ...
19995      458      648       4
19996      458     1101       4
19997      459      934       3
19998      460       10       3
19999      462      682       5

[20000 rows x 3 columns]

In [41]:
# Convert dictionary to DataFrame
predict_items_df = pd.DataFrame(list(predict_items_df.items()), columns=['item_id', 'predicted_rating'])
predict_items_df

     item_id  predicted_rating
0        289               1.0
1        307               4.0
2        312               2.0
3        313               4.0
4        316               5.0
..       ...               ...
318      626               3.0
319      911               3.0
320      915               2.0
321       66               4.0
322      739               4.0

[323 rows x 2 columns]

In [42]:
def evaluate_mse(predicted_ratings_df, test_df):
    # Merge predicted ratings with test DataFrame on user_id and item_id
    merged_df = pd.merge(test_df, predicted_ratings_df, on=['item_id'], how='inner')

    # Compute squared error between predicted and actual ratings
    merged_df['squared_error'] = (merged_df['rating'] - merged_df['predicted_rating']) ** 2

    # Calculate mean squared error (MSE)
    mse = merged_df['squared_error'].mean()

    return mse

# Example usage
mse = evaluate_mse(predict_items_df, test_df)
print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 2.256163155535634

In [43]:
predict_items_df

     item_id  predicted_rating
0        289               1.0
1        307               4.0
2        312               2.0
3        313               4.0
4        316               5.0
..       ...               ...
318      626               3.0
319      911               3.0
320      915               2.0
321       66               4.0
322      739               4.0

[323 rows x 2 columns]

In [44]:
# Evaluation function
def evaluate_rmse(test_df, predicted_df):
    # Merge test and predicted DataFrames on item_id
    merged_df = test_df.merge(predicted_df, on='item_id', how='inner')

    # Compute Root Mean Squared Error (RMSE)
    rmse = np.sqrt(((merged_df['rating'] - merged_df['predicted_rating']) ** 2).mean())

    return rmse

rmse = evaluate_rmse(test_df, predict_items_df)
print("RMSE:", rmse)

RMSE: 1.5020529802692162